@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8FAFC;
  color: #1E293B;
}

/* 自定義 Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}
/* app/globals.css */

